{% extends "diaryhome.html" %}
{% load static %}

{% block style %}
<style>
    body {
        margin: 0;
    }

    .s-horizon {
        float: left;
    }

    .s-horixon_wrap::after {
        content: "";
        display: block;
        clear: both;
    }

    .content1 {
        width: 31%;
        height: 500px;
        border: 2px solid;
        margin: 1%;
    }

    .content1_wrap {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .content2 {
        width: 100%;
        height: 500px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

    .button:hover {
        background-color: #555;
    }
</style>

{% endblock %}

{% block content %}

<div class="card mb-4">
    <div class="card-body">
        <div class="text-center">
            {% if user.is_authenticated %}
            <button class="btn btn-primary" id="button-search" type="button" onclick="location.href='create'">글
                작성</button>
            {% else %}
            <br>
            <h2>로그인해주세요!!</h2>
            {% endif %}
        </div>
        <br>
        <!--pagenation-->
        <div class="text-center">
            {% if posts.has_previous %} <!--지금 잘라서 보여주는 posts의 목록이 이전 페이지가 있다면-->
            <a href="?page=1" class="button">첫 페이지</a>
            <a href="?page={{posts.previous_page_number}}" class="button">이전 페이지</a> <!--posts의 이전 페이지 숫자를 반환해라-->
            {% endif %}

            <span> {{ posts.number }} </span> <!--현재 페이지 넘버-->
            <span> / </span>
            <span> {{ posts.paginator.num_pages }} </span> <!--잘린 posts가 갖고 있는 총 페이지 수 반환-->

            {% if posts.has_next %} <!--다음 페이지가 있다면-->
            <a href="?page={{posts.next_page_number}}" class="button">다음 페이지</a>
            <a href="?page={{posts.paginator.num_pages}}" class="button">마지막 페이지</a>
            {% endif %}
        </div>

    </div>
</div>

<div>
    {% for post in posts %}
    <div class="content1 s-horizon">
        <div style="text-align: center;">
            <h3><a href="{% url 'diary_detail' post.id %}">{{post.title}}</a></h3>
            작성자: {{post.author}}<br>
            <br>
            {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="" width="380px" height="380px">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}