<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>

<body>
    <h1>회원가입</h1>
    <form class="user" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="Enter Your ID">
        </div>
        <div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input type="password" name="repeat" placeholder="Repeat Password">
            </div>
        </div>
        <br>
        <hr>
        <input type="submit" value="가입하기">
    </form>
</body>

</html>