{% extends "diaryhome.html" %}
{% load static %}

{%block content %}
<div style="display: flex; justify-content: center; padding-top: 50px">
    <h1>자유롭게 글을 남겨주세요!</h1>
</div>
<br>
<div style="display: flex; justify-content: center">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }} <!-- 세번째 인자로 넘겨준 데이터 -->
            <!-- .as_p 는 p 태그가 감싸진 것처럼 해줌 / .as_ul은 ul 태그가 감싸진 것처럼 보임 -->
        </table>
        <div>
            <input type="submit" value="새 글 작성하기">
        </div>
    </form>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="js/scripts.js"></script>
{% endblock %}