{% extends "diaryhome.html" %}
{% load static %}

{% block content %}
<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

    .button:hover {
        background-color: #555;
    }
</style>

<div style="display: flex; justify-content: center; padding-top: 50px">
    <h1>Q&A</h1>
</div>
<br>
<div>
    <h2>제목: {{post.title}} </h2>
    <h4>작성 시간: {{post.created_at}} </h4>
    <h4>작성자: {{ post.author }}</h4>
    {% if post.photo %}
    <h4>사진</h4>
    <img src="{{ post.photo.url }}" alt="" height="300">
    {% endif %}
    <p> {{post.body}} </p>
    {% if request.user == post.author %}
    <a href="{% url 'post_update' post.id %}" class="button">게시글 수정하기</a>
    <a href="{% url 'post_delete' post.id %}" class="button">게시글 삭제하기</a>

    <br><br>
    {% endif %}
    <hr>
    <h4>댓글</h4>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'create_comment' post.id %}">
        {% csrf_token %}
        {{comment_form}}
        <input type="submit">
    </form>
    {% else %}
    로그인 후 사용해주세요!!
    {% endif %}
    <hr>
    {% for comment in post.comment_set.all %}
    <p>{{ comment }}</p>
    <p>작성자: {{ comment.author }}</p>
    {% if request.user == comment.author %}
    <a href="{% url 'update_comment' post.id comment.id %}">수정하기</a>
    <a href="{% url 'delete_comment' post.id comment.id %}">삭제하기</a>
    {% endif %}
    <hr>
</div>

{% endfor %}
{% endblock %}