{% extends "diaryhome.html" %}
{% load static %}

{% block content %}
<br>
<div div style="display: flex; justify-content: center; padding-top: 50px">
    <h1>Q&A</h1>
</div>
<br>
<div style="display: flex; justify-content: center">
    <a href="{%url 'create' %}">
        {% if user.is_authenticated %}
        <h2>글작성</h2>
        {% endif %}
    </a>
</div>
<br>

<div style="padding-left: 100px; padding-right: 100px;">
    {% for post in posts %}
    <h3><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h3>
    작성자: {{post.author}}<br>
    {{post.body}}
    <hr>
    {% endfor %}
</div>

<div style="display: flex; justify-content: center">
    <!-- 페이지네이션 -->
    {% if posts.has_previous %}
    <a href="?page=1">첫 페이지</a>
    <a href="?page={{posts.previous_page_number}}">이전 페이지</a>
    {% endif %}

    <span> {{ posts.number }} </span>
    <span> / </span>
    <span> {{ posts.paginator.num_pages }} </span>

    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">다음 페이지</a>
    <a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
    {% endif %}
    </body>
</div>
{% endblock %}